# SSH Client Config Template
# Umisteni: ~/.ssh/config

# Bastion host
Host bastion
    HostName bastion.firma.cz
    User admin
    IdentityFile ~/.ssh/id_ed25519_bastion
    IdentitiesOnly yes
    ForwardAgent no

# Produkcní´´ servery (pres bastion)
Host prod-*
    ProxyJump bastion
    User admin
    IdentityFile ~/.ssh/id_ed25519_prod
    IdentitiesOnly yes
    ServerAliveInterval 60
    ServerAliveCountMax 3

# Interní´´ servery
Host internal-*
    User admin
    IdentityFile ~/.ssh/id_ed25519_internal
    IdentitiesOnly yes

# Cisco zarizeni
Host cisco-*
    User admin
    IdentityFile ~/.ssh/id_rsa_cisco
    PubkeyAuthentication yes
    PasswordAuthentication no
    HostKeyAlgorithms +ssh-rsa
    PubkeyAcceptedKeyTypes +ssh-rsa

# MikroTik
Host mikrotik-*
    User admin
    IdentityFile ~/.ssh/id_rsa_mikrotik
    PubkeyAuthentication yes

# Globalni nastaveni
Host *
    AddKeysToAgent yes
    UseKeychain yes
    LogLevel VERBOSE
